.container{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 20px;
margin-bottom: 20px;

background-color: #AFB4FF;
width: 600px;
height: 300px;
border-radius: 30px;
}
.title{
  font-size: 25px;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}
.content{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
}
.boxinput{
  width: 300px;
  height: 40px;
  border-radius: 10px;
}
.boxinputtime{
  width: 150px;
  height: 35px;
  border-radius: 10px;
}
.button{
  margin-top: 10px;
 
}